C:\Users\Federico\Desktop\Fede\scuola\Esame\RentHouse\RentHouse.com\bin
C:\Users\Federico\Desktop\Fede\scuola\Esame\RentHouse\RentHouse.com\obj
C:\Users\Federico\Desktop\Fede\scuola\Esame\RentHouse\RentHouse.com.Android\bin
C:\Users\Federico\Desktop\Fede\scuola\Esame\RentHouse\RentHouse.com.Android\obj

C:\Users\Federico\Desktop\esame\RentHouse\RentHouse.com\bin
C:\Users\Federico\Desktop\esame\RentHouse\RentHouse.com\obj
C:\Users\Federico\Desktop\esame\RentHouse\RentHouse.com.Android\bin
C:\Users\Federico\Desktop\esame\RentHouse\RentHouse.com.Android\obj


